@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

#root,
#__next {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #064e3b;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
